@font-face {
  font-family: "Cairo-Medium";
  src: url("../css/fonts/Cairo-Medium.ttf");
}

.navbar .nav .content .menu-list > ul > li, .navbar .nav .content .menu-list > ul > li:before, .navbar .nav .content .menu-list > ul > li .dropdown li a, .navbar .nav .content .menu-list > ul > li .dropdown li.sub:before, .ads .row > div .slide, .product-content .row.content-box aside .filters .searching,
.product-content .row.content-box aside .monthly-laptop .searching,
.product-content .row.content-box aside .monthly-phone .searching, .product-content .row.content-box aside .monthly-item-laptop,
.product-content .row.content-box aside .monthly-item-phone, .product-content .row.content-box .products .product-item .item, .product-content .content .row .box .slider-box .slider-item, .product-content .content .row .product-item .item, footer .row div.items ul.social-follow li a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Cairo-Medium";
}

.row {
  width: 100%;
  margin: 0;
}

body {
  background-color: #eee;
}

p {
  line-height: 1.7;
}

/* start navbar */
.navbar {
  background-color: #11002f;
  color: #fff;
}

.navbar .header {
  font-size: 0.8rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.navbar .nav .logo img {
  width: 40%;
}

.navbar .nav .content form {
  position: relative;
  padding: 0;
}

.navbar .nav .content form input {
  padding-right: 60px;
}

.navbar .nav .content form i {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  color: #fff;
  background-color: #f05266;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav .content .menu-list {
  padding: 0;
}

.navbar .nav .content .menu-list > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
  padding: 0;
}

.navbar .nav .content .menu-list > ul > li {
  cursor: pointer;
  position: relative;
  list-style: none;
  padding: 10px 15px;
}

.navbar .nav .content .menu-list > ul > li:before {
  content: "";
  position: absolute;
  left: 0;
  top: calc((100% - 5px) / 2);
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.navbar .nav .content .menu-list > ul > li:hover {
  color: #f05266;
}

.navbar .nav .content .menu-list > ul > li:hover:before {
  border-color: #f05266 transparent transparent;
}

.navbar .nav .content .menu-list > ul > li .dropdown {
  top: 45px;
  z-index: 1000;
  position: absolute;
  padding: 10px 0;
  width: 150px;
  display: none;
  background-color: #11002f;
}

.navbar .nav .content .menu-list > ul > li .dropdown li {
  position: relative;
  list-style: none;
}

.navbar .nav .content .menu-list > ul > li .dropdown li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.navbar .nav .content .menu-list > ul > li .dropdown li a:hover {
  background-color: #f05266;
}

.navbar .nav .content .menu-list > ul > li .dropdown li.sub:before {
  content: "";
  position: absolute;
  left: 0;
  top: calc((100% - 10px) / 2);
  border-width: 5px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}

.navbar .nav .content .menu-list > ul > li .dropdown li.sub .subdropdown {
  z-index: 1000;
  position: absolute;
  padding: 10px 0;
  width: 150px;
  right: 150px;
  top: 10px;
  display: none;
  background-color: #11002f;
}

.navbar .nav .content .menu-list > ul > li .dropdown li.sub:hover .subdropdown {
  display: block;
}

.navbar .nav .content .menu-list > ul > li:hover .dropdown {
  display: block;
}

@media (max-width: 300px) {
  .navbar .nav .content .menu-list > ul > li {
    font-size: 0.6rem;
  }
}

@media (min-width: 300px) and (max-width: 575.98px) {
  .navbar .nav .content .menu-list > ul > li {
    font-size: 0.8rem;
  }
}

@media (max-width: 575.98px) {
  .navbar .header {
    font-size: 0.5rem;
  }
  .navbar .nav .logo {
    margin-bottom: 15px;
  }
  .navbar .nav .logo img {
    width: 50% !important;
  }
  .navbar .nav .content {
    padding: 0 !important;
  }
  .navbar .nav .content form input {
    font-size: 0.8rem;
  }
  .navbar .nav .content .menu-list > ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .nav .content .menu-list > ul > li {
    white-space: nowrap;
    padding: 10px 9px !important;
  }
  .navbar .nav .content .menu-list > ul > li:before {
    content: "";
    top: calc((100% - 3px) / 2) !important;
    border-width: 4px !important;
  }
  .navbar .nav .content .menu-list > ul > li .dropdown {
    top: 40px;
    width: 100px;
  }
  .navbar .nav .content .menu-list > ul > li .dropdown li .subdropdown {
    width: 100px !important;
    right: -100px !important;
  }
  .navbar .nav .content .menu-list > ul > li:last-of-type .dropdown {
    left: 0;
  }
}

@media (min-width: 576.98px) and (max-width: 767.98px) {
  .navbar .header {
    font-size: 0.7rem;
  }
  .navbar .nav .logo {
    margin-bottom: 15px;
  }
  .navbar .nav .logo img {
    width: 100% !important;
  }
  .navbar .nav .content .menu-list > ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .nav .content .menu-list > ul > li {
    font-size: 0.9rem;
    white-space: nowrap;
    padding: 10px !important;
  }
  .navbar .nav .content .menu-list > ul > li:before {
    content: "";
    left: 0;
    top: calc((100% - 3px) / 2) !important;
    border-width: 4px !important;
  }
  .navbar .nav .content .menu-list > ul > li:last-of-type .dropdown {
    left: 0;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .container-md {
    max-width: 900px !important;
  }
  .navbar .header {
    font-size: 0.7rem;
  }
  .navbar .nav .logo {
    margin-bottom: 15px;
  }
  .navbar .nav .logo img {
    width: 50% !important;
  }
  .navbar .nav .content .menu-list > ul > li:last-of-type .dropdown {
    left: 0;
  }
}

/* end navbar */
.ads {
  padding: 50px 0;
}

.ads .row > div {
  height: 450px;
  position: relative;
  padding: 0;
}

.ads .row > div .slide {
  position: absolute;
  height: 100%;
  padding: 0 15px;
  width: 100%;
  opacity: 0;
}

.ads .row > div .active {
  opacity: 1;
  visibility: visible;
}

.ads .row > div .img-box {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.ads .row > div img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0px 15px #e7e7e7;
          box-shadow: 0 0px 15px #e7e7e7;
}

.ads .row > div .next,
.ads .row > div .previos {
  position: absolute;
  width: 50px;
  display: block;
  height: 50px;
  font-size: 2rem;
  top: calc((100% - 50px) / 2);
  color: #f05266;
  cursor: pointer;
}

.ads .row > div .next {
  right: 50px;
}

.ads .row > div .previos {
  left: 50px;
}

@media (max-width: 767.98px) {
  .ads .row div {
    height: 250px;
  }
  .ads .row div .next,
  .ads .row div .previos {
    font-size: 1.5rem;
  }
  .ads .row div .next {
    right: 10px;
  }
  .ads .row div .previos {
    left: 10px;
  }
  .ads .row > div:last-of-type {
    display: none;
  }
}

.product-content {
  padding: 50px 0;
}

.product-content header {
  padding: 0 15px;
  margin-bottom: 15px;
}

.product-content header h1 {
  position: relative;
  font-size: 2rem;
  padding-right: 20px;
}

.product-content header h1::before {
  content: "";
  position: absolute;
  top: calc((100% - 10px) / 2);
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #11002f;
}

.product-content .row.content-box aside .filters,
.product-content .row.content-box aside .monthly-laptop,
.product-content .row.content-box aside .monthly-phone {
  -webkit-box-shadow: 0 0px 5px #e7e7e7;
          box-shadow: 0 0px 5px #e7e7e7;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

.product-content .row.content-box aside .filters header,
.product-content .row.content-box aside .monthly-laptop header,
.product-content .row.content-box aside .monthly-phone header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  transition: margin-bottom 0.2s linear;
  -webkit-transition: margin-bottom 0.2s linear;
  -moz-transition: margin-bottom 0.2s linear;
  -ms-transition: margin-bottom 0.2s linear;
  -o-transition: margin-bottom 0.2s linear;
}

.product-content .row.content-box aside .filters header h2,
.product-content .row.content-box aside .filters header i,
.product-content .row.content-box aside .monthly-laptop header h2,
.product-content .row.content-box aside .monthly-laptop header i,
.product-content .row.content-box aside .monthly-phone header h2,
.product-content .row.content-box aside .monthly-phone header i {
  margin: 0;
  font-size: 1.4rem;
}

.product-content .row.content-box aside .filters .searching,
.product-content .row.content-box aside .monthly-laptop .searching,
.product-content .row.content-box aside .monthly-phone .searching {
  padding: 0 15px;
  max-height: 500px;
  visibility: visible;
}

.product-content .row.content-box aside .filters .searching .by-type,
.product-content .row.content-box aside .filters .searching .by-sell,
.product-content .row.content-box aside .monthly-laptop .searching .by-type,
.product-content .row.content-box aside .monthly-laptop .searching .by-sell,
.product-content .row.content-box aside .monthly-phone .searching .by-type,
.product-content .row.content-box aside .monthly-phone .searching .by-sell {
  margin-bottom: 15px;
}

.product-content .row.content-box aside .filters .searching .by-type h5,
.product-content .row.content-box aside .filters .searching .by-sell h5,
.product-content .row.content-box aside .monthly-laptop .searching .by-type h5,
.product-content .row.content-box aside .monthly-laptop .searching .by-sell h5,
.product-content .row.content-box aside .monthly-phone .searching .by-type h5,
.product-content .row.content-box aside .monthly-phone .searching .by-sell h5 {
  margin-bottom: 5px;
}

.product-content .row.content-box aside .filters .searching .by-type form,
.product-content .row.content-box aside .filters .searching .by-sell form,
.product-content .row.content-box aside .monthly-laptop .searching .by-type form,
.product-content .row.content-box aside .monthly-laptop .searching .by-sell form,
.product-content .row.content-box aside .monthly-phone .searching .by-type form,
.product-content .row.content-box aside .monthly-phone .searching .by-sell form {
  padding-left: 15px;
  padding-right: 15px;
}

.product-content .row.content-box aside .filters .searching .by-type form .form-group,
.product-content .row.content-box aside .filters .searching .by-sell form .form-group,
.product-content .row.content-box aside .monthly-laptop .searching .by-type form .form-group,
.product-content .row.content-box aside .monthly-laptop .searching .by-sell form .form-group,
.product-content .row.content-box aside .monthly-phone .searching .by-type form .form-group,
.product-content .row.content-box aside .monthly-phone .searching .by-sell form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.product-content .row.content-box aside .filters .searching .by-type form .form-group label,
.product-content .row.content-box aside .filters .searching .by-sell form .form-group label,
.product-content .row.content-box aside .monthly-laptop .searching .by-type form .form-group label,
.product-content .row.content-box aside .monthly-laptop .searching .by-sell form .form-group label,
.product-content .row.content-box aside .monthly-phone .searching .by-type form .form-group label,
.product-content .row.content-box aside .monthly-phone .searching .by-sell form .form-group label {
  font-size: 0.9rem;
  margin-right: 5px;
}

.product-content .row.content-box aside .filters .searching .by-type form .form-group input,
.product-content .row.content-box aside .filters .searching .by-sell form .form-group input,
.product-content .row.content-box aside .monthly-laptop .searching .by-type form .form-group input,
.product-content .row.content-box aside .monthly-laptop .searching .by-sell form .form-group input,
.product-content .row.content-box aside .monthly-phone .searching .by-type form .form-group input,
.product-content .row.content-box aside .monthly-phone .searching .by-sell form .form-group input {
  width: 15px;
  height: 15px;
}

.product-content .row.content-box aside .filters .searching .by-price,
.product-content .row.content-box aside .monthly-laptop .searching .by-price,
.product-content .row.content-box aside .monthly-phone .searching .by-price {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-content .row.content-box aside .filters .searching .by-price h5,
.product-content .row.content-box aside .monthly-laptop .searching .by-price h5,
.product-content .row.content-box aside .monthly-phone .searching .by-price h5 {
  margin-bottom: 5px;
}

.product-content .row.content-box aside .filters .searching .by-price form,
.product-content .row.content-box aside .monthly-laptop .searching .by-price form,
.product-content .row.content-box aside .monthly-phone .searching .by-price form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.product-content .row.content-box aside .filters .searching .by-price form input::-webkit-inner-spin-button,
.product-content .row.content-box aside .monthly-laptop .searching .by-price form input::-webkit-inner-spin-button,
.product-content .row.content-box aside .monthly-phone .searching .by-price form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.product-content .row.content-box aside .filters .searching .by-price form input,
.product-content .row.content-box aside .monthly-laptop .searching .by-price form input,
.product-content .row.content-box aside .monthly-phone .searching .by-price form input {
  width: 35%;
}

.product-content .row.content-box aside .filters .searching .by-price form input:focus,
.product-content .row.content-box aside .monthly-laptop .searching .by-price form input:focus,
.product-content .row.content-box aside .monthly-phone .searching .by-price form input:focus {
  -webkit-box-shadow: 0 0 2px #11002f;
          box-shadow: 0 0 2px #11002f;
}

.product-content .row.content-box aside .filters .searching .by-rate,
.product-content .row.content-box aside .monthly-laptop .searching .by-rate,
.product-content .row.content-box aside .monthly-phone .searching .by-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-content .row.content-box aside .filters .searching .by-rate h5,
.product-content .row.content-box aside .monthly-laptop .searching .by-rate h5,
.product-content .row.content-box aside .monthly-phone .searching .by-rate h5 {
  margin-bottom: 5px;
}

.product-content .row.content-box aside .filters .searching .by-rate ul.stars,
.product-content .row.content-box aside .monthly-laptop .searching .by-rate ul.stars,
.product-content .row.content-box aside .monthly-phone .searching .by-rate ul.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.product-content .row.content-box aside .filters .searching .by-rate ul.stars li,
.product-content .row.content-box aside .monthly-laptop .searching .by-rate ul.stars li,
.product-content .row.content-box aside .monthly-phone .searching .by-rate ul.stars li {
  list-style: none;
  padding: 0 5px;
  cursor: pointer;
  color: #ddd;
}

.product-content .row.content-box aside .filters .hide-section,
.product-content .row.content-box aside .monthly-laptop .hide-section,
.product-content .row.content-box aside .monthly-phone .hide-section {
  max-height: 0 !important;
  visibility: hidden;
}

.product-content .row.content-box aside .filters .margin-bottom-reset,
.product-content .row.content-box aside .monthly-laptop .margin-bottom-reset,
.product-content .row.content-box aside .monthly-phone .margin-bottom-reset {
  margin-bottom: 0;
}

.product-content .row.content-box aside .monthly-item-laptop,
.product-content .row.content-box aside .monthly-item-phone {
  -webkit-box-shadow: 0 0px 5px #e7e7e7;
          box-shadow: 0 0px 5px #e7e7e7;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 15px;
}

.product-content .row.content-box aside .monthly-item-laptop a,
.product-content .row.content-box aside .monthly-item-phone a {
  text-decoration: none;
  color: #11002f;
}

.product-content .row.content-box aside .monthly-item-laptop a .header,
.product-content .row.content-box aside .monthly-item-phone a .header {
  padding: 10px;
  margin-bottom: 15px;
}

.product-content .row.content-box aside .monthly-item-laptop a .header img,
.product-content .row.content-box aside .monthly-item-phone a .header img {
  width: 70%;
}

.product-content .row.content-box aside .monthly-item-laptop a .content .title,
.product-content .row.content-box aside .monthly-item-phone a .content .title {
  text-align: center;
  font-weight: 600;
}

.product-content .row.content-box aside .monthly-item-laptop a .content .stars,
.product-content .row.content-box aside .monthly-item-phone a .content .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.product-content .row.content-box aside .monthly-item-laptop a .content .stars li,
.product-content .row.content-box aside .monthly-item-phone a .content .stars li {
  list-style: none;
  color: #ddd;
  padding: 0 4px;
}

.product-content .row.content-box aside .monthly-item-laptop a .content .details,
.product-content .row.content-box aside .monthly-item-phone a .content .details {
  font-size: 0.9rem;
  font-weight: 600;
}

.product-content .row.content-box aside .monthly-item-laptop a .content .details span:last-of-type,
.product-content .row.content-box aside .monthly-item-phone a .content .details span:last-of-type {
  font-size: 1rem;
}

.product-content .row.content-box .products {
  padding: 0;
}

.product-content .row.content-box .products .product-item {
  margin-bottom: 15px;
}

.product-content .row.content-box .products .product-item .item {
  -webkit-box-shadow: 0 0px 5px #e7e7e7;
          box-shadow: 0 0px 5px #e7e7e7;
  background-color: #fff;
  padding: 5px;
  height: 100%;
}

.product-content .row.content-box .products .product-item .item a {
  text-decoration: none;
  color: #11002f;
}

.product-content .row.content-box .products .product-item .item a .header {
  padding: 10px;
  margin-bottom: 15px;
}

.product-content .row.content-box .products .product-item .item a .header img {
  width: 70%;
}

.product-content .row.content-box .products .product-item .item a .content .title {
  text-align: center;
  font-weight: 600;
}

.product-content .row.content-box .products .product-item .item a .content .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.product-content .row.content-box .products .product-item .item a .content .stars li {
  list-style: none;
  color: #ddd;
  padding: 0 4px;
}

.product-content .row.content-box .products .product-item .item a .content .details {
  font-size: 0.9rem;
  font-weight: 600;
}

.product-content .row.content-box .products .product-item .item a .content .details span:last-of-type {
  font-size: 1rem;
}

.product-content .row.content-box .products .product-item .item:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.product-content .row.content-box .products .ads-image .img-box {
  position: relative;
  height: 250px;
  margin-bottom: 15px;
}

.product-content .row.content-box .products .ads-image .img-box img {
  width: 100%;
  height: 100%;
}

@media (max-width: 320px) {
  .product-content aside .filters header h2,
  .product-content aside .filters header i,
  .product-content aside .monthly-laptop header h2,
  .product-content aside .monthly-laptop header i,
  .product-content aside .monthly-phone header h2,
  .product-content aside .monthly-phone header i {
    font-size: 1.2rem !important;
  }
  .product-content aside .filters .searching .by-type h5,
  .product-content aside .filters .searching .by-sell h5,
  .product-content aside .filters .searching .by-price h5,
  .product-content aside .filters .searching .by-rate h5,
  .product-content aside .monthly-laptop .searching .by-type h5,
  .product-content aside .monthly-laptop .searching .by-sell h5,
  .product-content aside .monthly-laptop .searching .by-price h5,
  .product-content aside .monthly-laptop .searching .by-rate h5,
  .product-content aside .monthly-phone .searching .by-type h5,
  .product-content aside .monthly-phone .searching .by-sell h5,
  .product-content aside .monthly-phone .searching .by-price h5,
  .product-content aside .monthly-phone .searching .by-rate h5 {
    font-size: 1rem;
  }
  .product-content .row.content-box .products .product-item .item a .content .title {
    font-size: 0.7rem;
  }
  .product-content .row.content-box .products .product-item .item a .content .stars {
    margin-bottom: 5px;
  }
  .product-content .row.content-box .products .product-item .item a .content .stars li {
    font-size: 0.7rem;
  }
  .product-content .row.content-box .products .product-item .item a .content .details {
    text-align: center;
    font-size: 0.6rem;
  }
  .product-content .row.content-box .products .product-item .item a .content .details span:last-of-type {
    font-size: 0.7rem;
    text-align: center !important;
  }
}

@media (max-width: 575.98px) {
  .product-content header h1 {
    font-size: 0.9rem;
  }
  .product-content header h1::before {
    content: "";
    top: 5px;
  }
}

@media (min-width: 321px) and (max-width: 575.98px) {
  .product-content .row.content-box .products .product-item .item a .content .title {
    font-size: 0.9rem;
  }
  .product-content .row.content-box .products .product-item .item a .content .stars li {
    font-size: 0.8rem;
  }
  .product-content .row.content-box .products .product-item .item a .content .details {
    font-size: 0.7rem;
  }
  .product-content .row.content-box .products .product-item .item a .content .details span:last-of-type {
    font-size: 0.8rem;
  }
}

@media (min-width: 576.98px) and (max-width: 767.98px) {
  .product-content header h1 {
    font-size: 1.4rem;
  }
  .product-content header h1::before {
    content: "";
    top: 7px;
  }
}

.product-content .content .row .breadcramb {
  margin-bottom: 15px;
}

.product-content .content .row .breadcramb .box {
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px #e7e7e7;
          box-shadow: 0 0px 5px #e7e7e7;
  padding: 10px;
}

.product-content .content .row .breadcramb .box ul {
  padding: 0 15px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-content .content .row .breadcramb .box ul li {
  position: relative;
  list-style: none;
  padding-left: 15px;
  cursor: pointer;
}

.product-content .content .row .breadcramb .box ul li a {
  text-decoration: none;
  color: #11002f;
}

.product-content .content .row .breadcramb .box ul li:not(:last-of-type):before {
  content: "";
  position: absolute;
  width: 1;
  width: 2px;
  left: 7px;
  top: calc(10% / 2);
  height: 90%;
  background-color: #11002f;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.product-content .content .row .breadcramb .box ul li:last-of-type {
  color: #f05266;
}

.product-content .content .row .products .row .title-box {
  margin-bottom: 15px;
}

.product-content .content .row .products .row .title-box header {
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px #e7e7e7;
          box-shadow: 0 0px 5px #e7e7e7;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.product-content .content .row .products .row .title-box header h2 {
  font-size: 1.4rem;
}

.product-content .content .row .products .row .title-box header h2,
.product-content .content .row .products .row .title-box header p {
  margin-bottom: 0;
}

@media (max-width: 320px) {
  .product-content .content .row .breadcramb .box ul li {
    font-size: 0.7rem;
  }
  .product-content .content .row .products .row .title-box header h2 {
    font-size: 1.2rem;
  }
}

@media (min-width: 321px) and (max-width: 575.98px) {
  .product-content .content .row .breadcramb .box ul li {
    font-size: 0.9rem;
  }
}

/* start product-details */
.product-content .content .row .box {
  background-color: #fff;
  padding: 20px 10px;
  -webkit-box-shadow: 0 0px 5px #e7e7e7;
          box-shadow: 0 0px 5px #e7e7e7;
  margin-bottom: 15px;
}

.product-content .content .row .box .slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 300px;
  overflow: hidden;
}

.product-content .content .row .box .slider-box .slider-item {
  position: relative;
  left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
}

.product-content .content .row .box .slider-box .slider-item img {
  width: 70%;
}

.product-content .content .row .box .slider-box span {
  position: absolute;
  top: calc((100% - 30px) / 2);
  background-color: #11002f;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
  opacity: 0.5;
}

.product-content .content .row .box .slider-box span.next {
  right: 10px;
}

.product-content .content .row .box .slider-box span.previous {
  left: 10px;
}

.product-content .content .row .box .slider-box .active {
  opacity: 1;
}

.product-content .content .row .box .thumb-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-content .content .row .box .thumb-img-box .thumb-item {
  width: 100px;
  border: 1px solid #ddd;
  opacity: 0.6;
  cursor: pointer;
  height: 100px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-content .content .row .box .thumb-img-box img {
  width: 100%;
}

.product-content .content .row .box .active {
  opacity: 1 !important;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.product-content .content .row .ads-banner {
  margin-bottom: 15px;
}

.product-content .content .row .ads-banner .banner {
  height: 200px;
  background-color: #fff;
  position: relative;
}

.product-content .content .row .ads-banner .banner img {
  position: relative;
  z-index: 1000;
}

.product-content .content .row .ads-banner .banner:after {
  content: "Image Size 510 X 200";
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.product-content .content .row .details-box .product-description p {
  margin: 0;
}

.product-content .content .row .details-box div {
  margin-bottom: 15px;
}

.product-content .content .row .details-box div span {
  color: #f05266;
}

.product-content .content .row .details-box div ul li {
  list-style-type: square;
}

.product-content .content .row .details-box div:not(:first-of-type) {
  padding-right: 15px;
  padding-left: 15px;
}

.product-content .content .row .details-box div:not(:first-of-type) h5 {
  position: relative;
}

.product-content .content .row .details-box div:not(:first-of-type) h5:before {
  content: "";
  position: absolute;
  top: calc((100% - 10px) / 2);
  right: -15px;
  width: 10px;
  height: 10px;
  background-color: #302046;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #11002f;
}

.product-content .content .row .details-box .product-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-content .content .row .details-box .product-color h3 {
  margin-bottom: 0 !important;
}

.product-content .content .row .details-box .product-color ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.product-content .content .row .details-box .product-color ul li {
  list-style: none;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: red;
  border: 3px solid #eee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.product-content .content .row .details-box div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-content .content .row .details-box div:last-of-type h3 {
  margin-left: 5px;
  margin-bottom: 0 !important;
}

.product-content .content .row .details-box div:last-of-type a {
  position: relative;
  text-decoration: none;
  background-color: #f05266;
  width: 50%;
  color: #fff;
}

.product-content .content .row .details-box div:last-of-type a:before {
  content: "";
  position: absolute;
  top: calc((100% - 135%) / 2);
  left: -10%;
  width: 20px;
  height: 135%;
  background-color: #ffffff21;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
}

.product-content .content .row .details-box div:last-of-type a:hover:before {
  animation: hoverBtnEffect 0.3s ease-in-out;
  -webkit-animation: hoverBtnEffect 0.3s ease-in-out;
}

@-webkit-keyframes hoverBtnEffect {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

@keyframes hoverBtnEffect {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

.product-content .content .row .details-box,
.product-content .content .row .another-details,
.product-content .content .row .another-products {
  background-color: #fff;
  padding: 15px;
  color: #11002f;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0px 5px #e7e7e7;
          box-shadow: 0 0px 5px #e7e7e7;
}

.product-content .content .row .details-box h2,
.product-content .content .row .details-box h5.h2,
.product-content .content .row .another-details h2,
.product-content .content .row .another-details h5.h2,
.product-content .content .row .another-products h2,
.product-content .content .row .another-products h5.h2 {
  font-size: 2rem;
}

.product-content .content .row .product-item .item {
  -webkit-box-shadow: 0 0px 5px #e7e7e7;
          box-shadow: 0 0px 5px #e7e7e7;
  background-color: #fff;
  padding: 5px;
  height: 100%;
}

.product-content .content .row .product-item .item a {
  text-decoration: none;
  color: #11002f;
}

.product-content .content .row .product-item .item a .header {
  padding: 10px;
  margin-bottom: 15px;
}

.product-content .content .row .product-item .item a .header img {
  width: 70%;
}

.product-content .content .row .product-item .item a .content .title {
  text-align: center;
  font-weight: 600;
}

.product-content .content .row .product-item .item a .content .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.product-content .content .row .product-item .item a .content .stars li {
  list-style: none;
  color: #ddd;
  padding: 0 4px;
}

.product-content .content .row .product-item .item a .content .details {
  font-size: 0.9rem;
  font-weight: 600;
}

.product-content .content .row .product-item .item a .content .details span:last-of-type {
  font-size: 1rem;
}

.product-content .content .row .product-item .item:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

@media (max-width: 320px) {
  .product-content .content .row .breadcramb .box ul li {
    font-size: 0.7rem;
  }
  .product-content .content .row .box .slider-box {
    height: 200px;
  }
  .product-content .content .row .box .slider-box span {
    top: calc((100% - 20px) / 2);
    width: 20px;
    height: 20px;
    font-size: 0.7rem;
  }
  .product-content .content .row .box .thumb-img-box .thumb-item {
    width: 50px;
    height: 50px;
  }
  .product-content .content .row .details-box .product-color ul li {
    width: 25px;
    height: 25px;
  }
  .product-content .content .row .details-box div:last-of-type a:before {
    content: "";
    left: -40%;
  }
  .product-content .content .row .details-box h2,
  .product-content .content .row .details-box h5.h2,
  .product-content .content .row .another-details h2,
  .product-content .content .row .another-details h5.h2,
  .product-content .content .row .another-products h2,
  .product-content .content .row .another-products h5.h2 {
    font-size: 1.5rem;
  }
  .product-content .content .row .details-box h3,
  .product-content .content .row .another-details h3,
  .product-content .content .row .another-products h3 {
    font-size: 1.2rem;
  }
  .product-content .content .row .details-box p,
  .product-content .content .row .details-box li,
  .product-content .content .row .details-box a,
  .product-content .content .row .another-details p,
  .product-content .content .row .another-details li,
  .product-content .content .row .another-details a,
  .product-content .content .row .another-products p,
  .product-content .content .row .another-products li,
  .product-content .content .row .another-products a {
    font-size: 0.8rem;
  }
  .product-content .content .row .product-item .item a .content .title {
    font-size: 0.7rem;
  }
  .product-content .content .row .product-item .item a .content .stars {
    margin-bottom: 5px;
  }
  .product-content .content .row .product-item .item a .content .stars li {
    font-size: 0.7rem;
  }
  .product-content .content .row .product-item .item a .content .details {
    text-align: center;
    font-size: 0.6rem;
  }
  .product-content .content .row .product-item .item a .content .details span:last-of-type {
    font-size: 0.7rem;
    text-align: center !important;
  }
}

@media (min-width: 321px) and (max-width: 575.98px) {
  .product-content .content .row .breadcramb .box ul li {
    font-size: 0.9rem;
  }
  .product-content .content .row .box .slider-box span {
    top: calc((100% - 30px) / 2);
    width: 30px;
    height: 30px;
    font-size: 0.7rem;
  }
  .product-content .content .row .box .thumb-img-box .thumb-item {
    width: 75px;
    height: 75px;
  }
  .product-content .content .row .details-box div:last-of-type a:before {
    content: "";
    left: -40%;
  }
  .product-content .content .row .details-box h2,
  .product-content .content .row .details-box h5.h2,
  .product-content .content .row .another-details h2,
  .product-content .content .row .another-details h5.h2,
  .product-content .content .row .another-products h2,
  .product-content .content .row .another-products h5.h2 {
    font-size: 1.5rem;
  }
  .product-content .content .row .details-box h3,
  .product-content .content .row .another-details h3,
  .product-content .content .row .another-products h3 {
    font-size: 1.2rem;
  }
  .product-content .content .row .details-box p,
  .product-content .content .row .details-box li,
  .product-content .content .row .details-box a,
  .product-content .content .row .another-details p,
  .product-content .content .row .another-details li,
  .product-content .content .row .another-details a,
  .product-content .content .row .another-products p,
  .product-content .content .row .another-products li,
  .product-content .content .row .another-products a {
    font-size: 0.9rem;
  }
  .product-content .content .row .product-item .item a .content .title {
    font-size: 0.9rem;
  }
  .product-content .content .row .product-item .item a .content .stars li {
    font-size: 0.8rem;
  }
  .product-content .content .row .product-item .item a .content .details {
    font-size: 0.7rem;
  }
  .product-content .content .row .product-item .item a .content .details span:last-of-type {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .product-content .content .row .ads-banner {
    display: none;
  }
  .product-content .content .row .product-item {
    margin-bottom: 15px;
  }
}

@media (min-width: 576.98px) and (max-width: 768px) {
  .product-content .content .row .box .slider-box .slider-item img {
    width: 50%;
  }
}

footer {
  padding-top: 50px;
  background-color: #11002f;
}

footer .logo-company {
  width: 25%;
  margin-bottom: 15px;
}

footer .logo-company img {
  width: 50%;
}

footer .row {
  color: #fff;
}

footer .row div.items {
  padding-right: 15px;
  padding-left: 15px;
}

footer .row div.items header h6 {
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}

footer .row div.items header h6:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120%;
  height: 1px;
  background-color: #fff;
}

footer .row div.items ul {
  font-size: 0.9rem;
  padding: 0;
}

footer .row div.items ul li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer .row div.items ul li i.fa {
  margin-left: 5px;
  width: 15px;
  text-align: center;
}

footer .row div.items ul.social-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row div.items ul.social-follow li a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

footer .row div.items ul.social-follow li a i {
  margin: 0;
}

footer .row div.items ul.social-follow li a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

footer .row div.items ul.social-follow li:not(:last-of-type) {
  margin-left: 5px;
}

footer .row div.items ul.social-follow li:first-child a {
  background-color: #193e75;
}

footer .row div.items ul.social-follow li:nth-child(2) a {
  background-color: #275caa;
}

footer .row div.items ul.social-follow li:nth-child(3) a {
  background-color: #751956;
}

footer .copy-right {
  color: #fff;
  font-size: 0.9rem;
  padding: 15px 0;
  background-color: #0b011e;
}

footer .copy-right p {
  margin: 0;
}

@media (max-width: 320px) {
  footer .row div.items header h6 {
    font-size: 0.9rem !important;
  }
  footer .row div.items ul {
    font-size: 0.7rem !important;
  }
  footer .row div.items ul a {
    width: 30px !important;
    height: 30px !important;
  }
  footer .copy-right {
    font-size: 0.7rem;
  }
}

@media (min-width: 321px) and (max-width: 575.98px) {
  footer .row div.items header h6 {
    font-size: 1rem !important;
  }
  footer .row div.items ul {
    font-size: 0.8rem !important;
  }
  footer .row div.items ul a {
    width: 30px !important;
    height: 30px !important;
  }
  footer .copy-right {
    font-size: 0.8rem;
  }
}

@media (min-width: 576.98px) and (max-width: 767.98px) {
  footer .logo-company {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  footer .logo-company {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  footer .row div.items {
    margin-bottom: 15px;
  }
  footer .row div.items:last-of-type header h6:before {
    content: "";
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */