/* start navbar */
.navbar {
    background-color: $main-color;
    color: $white-color;
    .header {
        font-size: $font-size-3;
        flex-wrap: wrap;
        margin-bottom: $margin-bottom-3;
    }
    .nav {
        .logo {
            img {
                width: 40%;
            }
        }
        .content {
            form {
                position: relative;
                padding: $padding;
                input {
                    padding-right: 60px;
                }
                i {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 50px;
                    height: 100%;
                    border-radius: 0 5px 5px 0;
                    color: $white-color;
                    background-color: $second-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .menu-list {
                padding: $padding;
                > ul {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: $margin-bottom-0;
                    padding: $padding;
                    > li {
                        cursor: pointer;
                        position: relative;
                        list-style: none;
                        padding: $padding-top-2 $padding-top-3;
                        @extend %transition;
                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: calc((100% - 5px) / 2);
                            border-width: 5px;
                            border-style: solid;
                            border-color: $white-color transparent transparent
                                transparent;
                            @extend %transition;
                        }
                        &:hover {
                            color: $second-color;
                        }
                        &:hover:before {
                            border-color: $second-color transparent transparent;
                        }
                        .dropdown {
                            top: 45px;
                            z-index: 1000;
                            position: absolute;
                            padding: $padding-top-2 0;
                            width: 150px;
                            display: none;
                            background-color: $main-color;
                            li {
                                position: relative;
                                list-style: none;
                                a {
                                    color: $white-color;
                                    text-decoration: none;
                                    display: block;
                                    padding: $padding-top-1 $padding-top-2;
                                    @extend %transition;
                                    &:hover {
                                        background-color: $second-color;
                                    }
                                }
                            }
                            li.sub {
                                &:before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: calc((100% - 10px) / 2);
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent #fff transparent
                                        transparent;
                                    @extend %transition;
                                }
                                .subdropdown {
                                    z-index: 1000;
                                    position: absolute;
                                    padding: $padding-top-2 0;
                                    width: 150px;
                                    right: 150px;
                                    top: 10px;
                                    display: none;
                                    background-color: $main-color;
                                }
                                &:hover .subdropdown {
                                    display: block;
                                }
                            }
                        }
                        &:hover .dropdown {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 300px) {
    .navbar {
        .nav {
            .content {
                .menu-list {
                    > ul {
                        > li {
                            font-size: $font-size-1;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 300px) and (max-width: 575.98px) {
    .navbar {
        .nav {
            .content {
                .menu-list {
                    > ul {
                        > li {
                            font-size: $font-size-3;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 575.98px) {
    .navbar {
        .header {
            font-size: 0.5rem;
        }
        .nav {
            .logo {
                margin-bottom: $margin-bottom-3;
                img {
                    width: 50% !important;
                }
            }
            .content {
                padding: $padding !important;
                form {
                    input {
                        font-size: $font-size-3;
                    }
                }
                .menu-list {
                    > ul {
                        align-items: center;
                        > li {
                            white-space: nowrap;
                            padding: 10px 9px !important;
                            &:before {
                                content: "";
                                top: calc((100% - 3px) / 2) !important;
                                border-width: 4px !important;
                            }
                            .dropdown {
                                top: 40px;
                                width: 100px;
                                li {
                                    .subdropdown {
                                        width: 100px !important;
                                        right: -100px !important;
                                    }
                                }
                            }
                        }
                        > li:last-of-type {
                            .dropdown {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 576.98px) and (max-width: 767.98px) {
    .navbar {
        .header {
            font-size: $font-size-2;
        }
        .nav {
            .logo {
                margin-bottom: $margin-bottom-3;
                img {
                    width: 100% !important;
                }
            }
            .content {
                .menu-list {
                    > ul {
                        align-items: center;
                        > li {
                            font-size: $font-size-4;
                            white-space: nowrap;
                            padding: $padding-top-2 !important;
                            &:before {
                                content: "";
                                left: 0;
                                top: calc((100% - 3px) / 2) !important;
                                border-width: 4px !important;
                            }
                        }
                        > li:last-of-type {
                            .dropdown {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .container-md {
        max-width: 900px !important;
    }
    .navbar {
        .header {
            font-size: $font-size-2;
        }
        .nav {
            .logo {
                margin-bottom: $margin-bottom-3;
                img {
                    width: 50% !important;
                }
            }
            .content {
                .menu-list {
                    > ul {
                        > li:last-of-type {
                            .dropdown {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* end navbar */
